@page
@model AAD_CRUD.Pages.Funcionarios.IndexModel
@{
}
@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[]
    {
        "NIF", "Nome", "Apelido", "Data Nasc", "Data Admissao", "Morada", "Email", "CPCP", "Localidade"
    };
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Your+Chosen+Font&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        h1 {
            font-family: 'Your Chosen Font', sans-serif;
            font-weight: bold;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="container mt-4">
        <div class="text-center">
            <h1 class="display-4">
                <i class="fas fa-building"></i>
                CONSTRUGEST
            </h1>
            <p>Projeto de Armazenamento e Acesso a Dados</p>
        </div>
        <h2>
            Stored Procedure
        </h2>
        <div>
            
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped rounded shadow">
                <thead class="thead-dark">
                    <tr>
                        @{
                            foreach (var head in TableHeaders)
                            {
                                <th>@head</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            var alternateRow = false;
                            foreach (var Data in Model.funcionarios)
                            {
                                <tr class="@((alternateRow = !alternateRow) ? "even" : "odd")">
                                    <td>@Data.NIF</td>
                                    <td>@Data.Nome</td>
                                    <td>@Data.Apelido</td>
                                    <td>@Data.DataNasc</td>
                                    <td>@Data.DataAdmissao</td>
                                    <td>@Data.Morada</td>
                                    <td>@Data.Email</td>
                                    <td>@Data.CPCP</td>
                                    <td>@Data.Localidade</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
